<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col size="12" size-sm="10" size-xs="11" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Login</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="login()">
              <ion-item>
                <ion-input
                  label="Email"
                  labelPlacement="floating"
                  [(ngModel)]="email"
                  type="email"
                  name="email"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  label="Password"
                  labelPlacement="floating"
                  [(ngModel)]="password"
                  type="password"
                  name="password"
                ></ion-input>
              </ion-item>
              <ion-button
                class="ion-margin-top ion-margin-right"
                expand="full"
                color="primary"
                type="submit"
                >Login</ion-button
              >
            </form>
            <ion-row class="ion-margin-top">
              <ion-col size="6">
                <ion-router-link routerLink="/register" class="ion-text-start"
                  >Need Account?
                  <span class="ion-text-danger">Register</span></ion-router-link
                >
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-router-link
                  routerLink="/forgot-password"
                  class="ion-text-end"
                  >Forgot Password?</ion-router-link
                >
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin-top ion-justify-content-center">
              <ion-col size="12">
                <ion-card class="cursor">
                  <ion-card-content
                    (click)="signInWithGoogle()"
                    class="ion-text-center"
                  >
                    <p>Sign In with Google</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
