<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-content>
            <form>
              <ion-item lines="none" class="ion-text-center">
                <ion-label color="dark">
                  <h4>Forgot Password</h4>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-input
                  label="Email"
                  labelPlacement="floating"
                  [(ngModel)]="email"
                  type="email"
                  name="email"
                  required=""
                ></ion-input>
              </ion-item>

              <ion-button
                expand="block"
                color="primary"
                (click)="forgotPassword()"
                >Send Link</ion-button
              >

              <ion-row>
                <ion-col>
                  <ion-text>
                    <a
                      href="/login"
                      class="ion-text-danger"
                      style="text-decoration: none"
                    >
                      Back to <span>Login</span>
                    </a>
                  </ion-text>
                </ion-col>
              </ion-row>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
